.App {
  text-align: center;
}

.RollDice{
  position: relative;
  top: 115px;
}

.Die{
  width: 100px;
  height: 100px;
}

.Dice {
  position:relative;
  width: 300px;
  min-height: 60px;
  margin: auto;
  padding-top:150px;
}

.Dice:before {
  content:'';
  position: absolute;
  width: 500px;
  height: 300px;
  margin: auto;
  z-index: -1;
  border: 5px solid rgba(204, 79, 6, 0.664);
  background-color: rgb(123, 221, 66);
  left:-100px;
  top: 50px;
}
