body{ background: #000000;}

.App {
  text-align: center;
}

.RollDice{
  position: absolute;
  width: 10%;
  left: 45%;
  top: 375px;
  font-size: xx-large;
  background-color: rgb(255,0,0);
}

.Die{
  width: 100px;
  height: 100px;
}

.Dice {
  position:relative;
  width: 300px;
  min-height: 60px;
  margin: auto;
  padding-top:150px;
}

.Dice:before {
  content:'';
  position: absolute;
  width: 500px;
  height: 300px;
  margin: auto;
  z-index: -1;
  background-color: rgb(123, 221, 66);
  left:-100px;
  top: 50px;
}

table, th, td {
  font-size: large;
  border: 2px solid black;
  border-collapse: collapse;
}

th{
  height:50px;
}

td{
  width:50px;
}

table{
  background-color: rgb(255,255,255);
  position: absolute;
  left: 31%;
  top: 75%;
  height: 10%;
}